body {
  font-family: "Poppins", sans-serif;
  margin: 0;
}

/* responsif */
@media screen and (max-width: 992px) {
  #header {
    background-size: 60vmax;
    background-position: top center;
    background-repeat: no-repeat;
    background-color: solid #191919;
    height: 700px;
  }

  #header .col h1 {
    font-size: 25px;
    font-weight: 700;
  }

  #header .col h6 {
    font-size: 16px;
  }

  #header .col h4 {
    font-size: 18px;
  }

  #header .col h1 h6 h4 {
    box-shadow: 1px 2px 2px solid #191919;
  }

  #about .row {
    line-height: 17px;
    padding-left: 0px;
    padding-right: 0px;
  }

  #project {
    position: static;
    height: auto;
  }

  #skill img {
    height: 40px;
    padding: 5px;
  }
}

/* end */

#header {
  background-image: url("asset/img_logo/bglow1.png");
  background-color: #191919;
  background-size: 60vh;
  background-position: top right;
  background-repeat: no-repeat;
  opacity: 50px;
  color: #fff;
  height: 375px;
}

.container .row {
  position: relative;
  width: auto;
  padding-top: 50px;
}

#header .col {
  padding-top: 100px;
}

#header h1 {
  font-size: 45px;
}

/* navbar ................................................ */
.navbar {
  background-color: #191919;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
}

.container .navbar .fixed-top {
  background-color: #191919 !important;
  color: #fff;
}
.nav-link {
  color: #fff;
}
.nav-link:hover {
  color: #bbb;
}

.col .h1 {
  font-style: bold;
}

/* about ................................................. */

#about {
  background-color: #fff;
  color: #191919;
  height: auto;
}
#about h4 {
  color: #191919;
  font-weight: 500;
}

#about p {
  font-size: 16px;
  font-weight: 400;
  color: #191919;
  font-style: normal;
}

.row {
  margin-top: 1px;
  padding-top: 10px;
  height: auto !important;
  width: 500px;
  font-style: normal;
  text-align: justify;
  font-weight: 300;
  font-size: 14px;
  line-height: 22px;
}

/* project ............................................................. */

#project {
  background-color: #fff;
  color: #191919;
  height: auto;
  left: 0px;
  top: 799px;
}

#project .row {
  padding-bottom: 3px;
}

#project .card {
  background-color: #fff;
  border-style: outset;
  border-top: #191919;
  border-color: #191919;
  color: #191919;
  padding-bottom: 5px;
  height: 450px;
}

#project img {
  width: auto;
  height: 350px;
  padding-top: 10px;
  padding-right: 10px;
}

#project .col h5 {
  font-size: 16px;
  font-weight: 400px;
}

#project .card:hover {
  background-image: linear-gradient(180deg, #fff 98%, #191919 2%);
  transition: 0.5s;
  color: #191919;
}

/* Skill .............................................................. */

#skill {
  background-color: #fff;
  color: #191919;
  height: 200px;
}

.row img {
  padding-left: 10px;
}

/* Contact ........................................................ */

#contact {
  background-color: #fff;
  height: 150px;
  color: #191919;
}

#contact .row .fa-brands {
  padding-left: 10px;
  color: #191919;
  padding: 10px;
}

#contact .row .fa-solid {
  padding-left: 10px;
  color: #191919;
  padding: 10px;
}

#contact .row .fa-brands:hover {
  color: #343434;
}

#contact .row .fa-solid:hover {
  color: #343434;
}

/* footer */
.footer {
  background-color: #191919;
  height: 30px;
  color: #fff;
  font-style: normal;
  font-size: 11px;
  padding-top: 5px;
}

.footer span {
  font-style: italic;
}

/* peoject1 */
